.bigLinkText {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  cursor: pointer;
  width: fit-content;
  color: black;
}

.smallLinkText {
  text-decoration-line: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
  cursor: pointer;
  width: fit-content;
  color: black;
}

.navButton {
  border: 1.5px solid lightgrey;
  width: 35dvh;
  height: 6dvh;
  padding-top: 0.5dvh;
  text-decoration: none;
  border-radius: 9px;
  transition: 0.2s;
}

.navButton:hover {
  background: #f2f2f2;
}

.streakBanner {
  margin: -1dvh 0 2.5dvh 0;
}

.streakDay {
  font-size: 7dvh;
  text-align: center;
  margin: -2.75dvh 2dvh 0 2dvh;
}
