.backButton {
  margin-left: 7dvw;
  cursor: pointer;
  font-size: 30px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.inputSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10dvh;
}

.results {
  display: flex;
  flex-direction: column;
  font-size: 26px;
  gap: 10px;
}

.checkLeaderboard {
  margin-top: 10px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  cursor: pointer;
}

.gameForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.gameInput {
  height: 33dvh;
  border: 1.5px solid lightgrey;
  border-radius: 9px;
  text-align: center;
  padding: 3px;
  font-size: 3dvh;
  resize: none;
  line-height: 3.2dvh;
}

.submitButton {
  border: 1.5px solid lightgrey;
  width: 35dvh;
  height: 6dvh;
  background: white;
  text-decoration: none;
  border-radius: 9px;
  transition: 0.2s;
  font-size: 3dvh;
  font-weight: 400;
  color: black;
  cursor: pointer;
  transition: 0.2;
}

.submitButton:hover {
  background: #f2f2f2;
}

.submit .enterNameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameInput {
  background-color: transparent;
  border: 1px solid lightgrey;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 9px;
  width: 281px;
  height: 41px;
  margin-top: 3dvh;
  font-size: 22px;
  text-align: center;
}

.nameForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10dvh;
}

@media screen and (max-height: 800px) {
  .gameInput {
    height: 36dvh;
    line-height: 125%;
  }
}
