@font-face {
  font-family: "Cheltenham";
  src: url("fonts/cheltenham-normal-400-webfont.woff2") format("woff2"),
    url("fonts/cheltenham-normal-400-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: inherit;
  box-sizing: border-box;
}

html {
  font-family: "Cheltenham", Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
