@font-face {
  font-family: "Cheltenham";
  src: url("/fonts/cheltenham-normal-400-webfont.woff2") format("woff2"),
    url("/fonts/cheltenham-normal-400-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: inherit;
  /* box-sizing: border-box; */
}

html {
  font-family: "Cheltenham", Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: black;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: 2px solid black;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerText {
  position: fixed;
  text-align: center;
  cursor: default;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.overlay.active {
  opacity: 0.5;
  visibility: visible;
}

.bannerMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  max-height: 0;
}

.bannerMenuItem {
  transform: translateY(-100%);
  opacity: 0;
}

.bannerMenu.active .bannerMenuItem {
  transform: translateY(0);
  opacity: 1;
}

@media (max-width: 450px) {
  .banner {
    width: 100%;
    height: 45px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
    transition: height 0.4s ease-in-out;
  }

  .overlay {
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }

  .banner.open {
    height: 37%;
  }

  .bannerText {
    top: 0.8dvw;
    width: 100%;
    font-size: 1.7rem;
  }

  .bannerMenu {
    margin-top: 11%;
    gap: 2dvw;
    width: 95%;
    transition: max-height 0.4s ease-in-out;
  }

  .bannerMenu.active {
    max-height: 90%;
  }

  .bannerMenuItem {
    font-size: 1.5rem;
    text-decoration-line: none;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;
    transition: transform 0.4s ease, opacity 0.4s ease-in-out;
  }
}

@media (min-width: 451px) {
  .banner {
    width: 100%;
    height: 58px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
    transition: height 0.2s ease-in-out;
  }

  .overlay {
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }

  .banner.open {
    height: 290px;
  }

  .bannerText {
    top: 10px;
    width: 100%;
    font-size: 1.7rem;
  }

  .bannerMenu {
    margin-top: 6dvh;
    gap: 1.5dvh;
    width: 95%;
    transition: max-height 0.1s ease-in-out;
  }

  .bannerMenu.active {
    max-height: 90%;
  }

  .bannerMenuItem {
    font-size: 1.5rem;
    text-decoration-line: none;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;
    transition: opacity 0.3s ease-in-out;
  }
}
